@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(OS.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
}

body {
    font-family: 'Open Sans';
}

.input {
    width: 188px;
    padding: 10px 25px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);

    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.range input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    display: inline-block;
    background-color: #EFFFFF;
    font-size: 11pt;
}

.range ul {
    margin: 0px;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    background-color: #EFFFFF;
    font-size: 11pt;
    width: 335px;
    height: 120px;
}

.cp {
    cursor: pointer
}

.inln {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}

#main {
    /*background: #fafafa;*/
    position: relative;
    height: 900px;
    width: 1100px;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#menu {
    top: 30px;
    position: relative;
}
.menu_container{

}

#content {
    background: white;
    position: absolute;
    top: 150px;
    left: auto;
    right: 0;
    bottom: 100px;
    width: 1100px;
    float: right;
    min-height: 650px;
    /*background:#ffffff;*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
}

.front {
    margin: 0px 0px 0px 10px;
    max-width: 110px;
    max-height: 200px;
    bottom: 10px;
}

.bok {
    height: 200px;
}

.catalog {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 640px;
    width: 1800px;
    float: right;
    margin-right: -10px;
}

.tpl {
    border-top: 4px double rgba(1, 1, 1, 0.27);
    width: 600px;
    border-width: 2px;
    height: 210px;
    padding-top: 40px;
    margin: auto;
    display: inline-block;
    margin: 20px 80px 0px 0px;
    float: right;
}

.tpl .desc {
    height: 180px;
    width: 340px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.images {
    width: 250px;
    height: 200px;
}

.ipad .front {
    width: 250px;
    height: 160px;
}

.name {
    top: -200px;
    left: 140px;
    position: relative;
    font-size: 12pt;
    color: #3190C5;
}

.price {
    color: #0E70EE;
    font-size: 19pt;
    position: relative;
    left: 515px;
    bottom: 185px;
}

.more_info {
    color: rgb(77, 70, 70);
    font-size: 12px;
    width: 128px;
    height: 145px;
    position: relative;

}

.more_info.m_pos {
    bottom: 185px;
    left: 140px;
}

.more_info p {
    margin-bottom: 10px;
    /*display: table;*/
}

.buy {
    width: 85px;
    background: #3e9cbf; /*the colour of the button*/
    padding: 8px 14px 10px; /*apply some padding inside the button*/
    border: 1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    cursor: pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size: 11pt;
    font-family: Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing: .1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    color: #fff;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    /*give the corners a small curve*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

.buy.pos {
    position: relative;
    bottom: 315px;
    float: right;
    left: -5px
}

.buy:hover, .buy:focus {
    color: #dfe7ea;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.action {
}

.action_img {
    width: 530px;
    position: relative;
    left: 350px;
    top: 115px;
}

.action_img.ipad {
    width: 700px;
    position: relative;
    left: 350px;
    top: 115px;
}

.action .price {
    color: #0E70EE;
    font-size: 48pt;
    position: relative;
    left: 105px;
    bottom: 125px;
}

.action .name {
    top: -340px;
    left: 80px;
    position: relative;
    width: 248px;
    font-size: 20pt;
}

.bann_cont {
    position: absolute;
    margin-left: 60px;
}

.bann {
    width: 250px;
    height: 110px;
    border: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 80px;
    position: relative;
}

.bann h4 {
    position: absolute;
    border-bottom: solid;
    width: 223px;
    left: 15px;
}

.bann ul {
    position: absolute;
    left: 30px;
    top: 27px;
    font-size: 11pt;
    width: 215px;
}

.contact {
}

.spsr {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 5em;
    width: 500px;
}

.form label {
    width: 40%;
    display: inline-block;
    margin: 2% 5% 3% 5%;
}

.form .toolbar {
    margin: 5% 0% 0% 20%;
}

.form .previwe {
    float: left;
    position: fixed;
    margin: auto;
    height: 40px;
}

.form input {
    margin: auto;
    width: 160px;
}

.form .image {
    height: 80px;
}

.inp_content {
    display: inline-block;
}

.area {
    display: inline-block;
    position: relative;
    bottom: 50px;
    top: 12px;
}

.filter {
    width: 500px;
    height: 400px;
    top: 10px;
    position: inherit;
    background-color: white;
    border: dashed;
    border-radius: 12px;
    border-width: 2px;
    border-color: #C2C2C2;
    padding: 15px;
}

.filter .tool {
    height: 300px;
}

.filter button {
    height: 47px;
    width: 135px;
    margin: 10px 0px 0px 35px;
    border-radius: 4px;
}

.filter button:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.border {
    border: dashed;
    color: grey;
    border-width: 1px;
}

.main_image {
    width: 250px;
    margin: 10px;
}

.detail .more_info {
    color: rgb(77, 70, 70);
    font-size: 16px;
    width: 200px;
    height: 145px;
    position: relative;
    /*bottom: 376px; */
    left: 321px;
}

.detail .price {
    font-size: 37pt;
    left: 700px;
    bottom: 400px;
    width: 200px;
}

.detail .buy {
    width: 135px;
    font-size: 22pt;
    position: relative;
    bottom: 520px;
    left: 700px;
}

.detail .nname {
    font-size: 30pt;
    top: 15px;
    left: 315px;
    position: absolute;
    width: 248px;
    width: 400px;
    color: #3190C5;
}

.detail .more_info {
    position: relative;
    bottom: 420px;
}

.profile {
    position: absolute;
    left: 900px;
    top: 15px;
}

.profile h1 {
    cursor: pointer;
    margin: auto;
    padding-right: 10px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.profile h1:hover {
    text-shadow: 0px 0px 0px black, 0 0 1em black;
}

.registration {
    width: 380px;
    margin: auto;
    z-index: 20;
}

.registration td {
    width: 190px;
    padding-bottom: 15px;
}

.buy_page {
    top: 50px;
    position: relative;
}

.buy_page .tpl {
    float: left;
    position: relative;
    border: none;
    margin: -5% 0px 0px 30%;
}

.buy_page h2 {
    position: relative;
    font-size: 25pt;
    margin: 0% 0% 5% auto;
    color: #3190C5;
    top: 0px;
    left: 0px;
}

.buy_page .form {
    width: 50%;
    height: 200px;
    margin: 25% 0% 0% 30%;
    border-top: 1px solid #000;
}

.buy_page button {
    width: 150px;
    margin: 5% 0px 0px 30%;
}

.buy_page input{
    width: 340px;
    border-radius: 6px;
    height: 25px;
    margin: 20px 0px 0px -80px;
}
.hhhh {
    font-size: 40pt;
    position: relative;
    left: 430px;
    top: 180px;
}

.succ {
    position: relative;
    left: 50px;
    top: 110px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#footer span {
    color: #333;
    font-size: 13px;
    display: block;
}

#footer img {
    position: relative;
    bottom: 40px;
    left: 96px;
    height: 55px;
    margin-left: 160px;
}

.sber {
    float: left;
}

.report ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
.report ul.tab li {float: left;}

/* Style the links inside the list items */
.report ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.report ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.report ul.tab li a:focus, .active {
    background-color: #e5592e;
}

/* Style the tab content */
.report .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
