<div id="product" class="buy_page">
</div>

<div class="buy_page">
    <div class="form">
        <div><label>ФИО</label> <input id="fio" type="text" id="fio"/></div>
        <div><label>Адрес</label> <input id="address" type="text" id="address"/></div>
        <div><label>Телефон</label> <input id="phone" type="text" id="phone"/></div>
    </div>
</div>

<script defer="defer">
    Controller.get('/rest/product/' + getParameter('product'), function (e) {
        e.image = host + "/rest/image/" + e.image;
        drawContent(e, "productTmpl", "product");
    });


    function buy() {
        var isAccepted = confirm("Отправить запрос на сервер?");
        if (isAccepted) {
            var sale = {
                productId: getParameter('product'),
                fio: $('#fio').val(),
                address: $('#address').val(),
                phone: $('#phone').val()
            };
            console.log(sale);
            Controller.post("/rest/product/sell", sale, function (e) {
                console.log(e);
            });
        }
    }

</script>

<script id="productTmpl" type="text/x-jquery-tmpl">
	<div class="tpl" class="buy">
	    <h2 class="name">${name}</h2>
		<div class="images">
			<img  class="front" src="${image}">
		</div>
		<h1 class="price">${cost}</h1>
		<div class="more_info m_pos">
			{{if $item.data.description && $item.data.description != ""}}
				<p class="desc">${description}</p>
			{{/if}}
		</div>
		<button id="buy" onClick='buy()' class="btn" onclick="currPhone=this.parentNode; window.location.href = '#!' + 'views/buy?product=${id}'">Заказать</button>
	</div>

</script>