<div style="display: inline-flex;">

    <div id="filter" class="filter">

    </div>
    <div id="catalog" class="catalog">

    </div>
</div>

<script id="phoneTmpl" type="text/x-jquery-tmpl">
	<div class="tpl">
		<div class="images">
			<img  class="front" src="${photo}">
		</div>
		<h2 class="name">${name}</h2>
		<h1 class="price">${cost}</h1>
		<div class="more_info m_pos">
			{{if $item.data.cores && $item.data.cores != 0}}
				<p>Количество ядер: ${cores}</p>
			{{/if}}
			{{if $item.data.memory && $item.data.memory != 0}}
				<p>Память: ${memory}Мб</p>
			{{/if}}
			{{if $item.data.weight && $item.data.weight != 0}}
				<p>Вес: ${weight} гр</p>
			{{/if}}
			{{if $item.data.os && $item.data.os != ""}}
				<p>ОС: ${os}</p>
			{{/if}}
			{{if $item.data.resolution && $item.data.resolution != ""}}
				<p>Разрешение: ${resolution}</p>
			{{/if}}
		</div>
		<button class="buy pos buybtn" onclick="currPhone=this.parentNode; window.location.href = '#!buy';">Купить</button>
	</div>







</script>

<script defer="defer">
    phones = [{
        cores: 2
        ,
        cost: 25000
        ,
        id: "bd7ee9257f9fd855"
        ,
        memory: 8192
        ,
        name: "Iphone 5s/8Gb"
        ,
        os: "ios 7"
        ,
        photo: "http://static.svyaznoy.ru/upload/iblock/6cc/iphone4s-pf-wht-ru-ru-print.jpg/resize/800x800/"
        ,
        resolution: "960x640"
        ,
        vendor: "Apple"
        ,
        weight: 110
    }, {
        cores: 3
        ,
        cost: 12990
        ,
        memory: 2048
        ,
        name: "Iphone 4s"
        ,
        os: "IOS 6"
        ,
        photo: "http://static.svyaznoy.ru/upload/iblock/000/iphone4s-pf-blk-ru-ru-print.jpg/resize/800x800/"
        ,
        resolution: "840x460"
        ,
        vendor: "Apple"
        ,
        weight: 123
    }, {
        cores: 0
        ,
        cost: 29000
        ,
        memory: 8192
        ,
        name: "Iphone 5s/16Gb"
        ,
        os: "IOS 7"
        ,
        photo: "http://static.svyaznoy.ru/upload/iblock/6cc/iphone4s-pf-wht-ru-ru-print.jpg/resize/800x800/"
        ,
        resolution: "960x640"
        ,
        vendor: "Apple"
        ,
        weight: 120
    }, {
        cores: 2
        ,
        cost: 25000
        ,
        id: "bd7ee9257f9fd855"
        ,
        memory: 8192
        ,
        name: "Iphone 5s/8Gb"
        ,
        os: "ios 7"
        ,
        photo: "http://static.svyaznoy.ru/upload/iblock/6cc/iphone4s-pf-wht-ru-ru-print.jpg/resize/800x800/"
        ,
        resolution: "960x640"
        ,
        vendor: "Apple"
        ,
        weight: 110
    }, {
        cores: 3
        ,
        cost: 12990
        ,
        memory: 2048
        ,
        name: "Iphone 4s"
        ,
        os: "IOS 6"
        ,
        photo: "http://static.svyaznoy.ru/upload/iblock/000/iphone4s-pf-blk-ru-ru-print.jpg/resize/800x800/"
        ,
        resolution: "840x460"
        ,
        vendor: "Apple"
        ,
        weight: 123
    }, {
        cores: 0
        ,
        cost: 29000
        ,
        memory: 8192
        ,
        name: "Iphone 5s/16Gb"
        ,
        os: "IOS 7"
        ,
        photo: "http://static.svyaznoy.ru/upload/iblock/6cc/iphone4s-pf-wht-ru-ru-print.jpg/resize/800x800/"
        ,
        resolution: "960x640"
        ,
        vendor: "Apple"
        ,
        weight: 120
    }

    ];
    drawContent(phones, "phoneTmpl", "catalog");
</script>