<div style="width: 600px; margin: auto;">
    <h3>Заявка на ремонт</h3>
    <div class="form">
        <div><label>Почта</label> <input id="email" placeholder="Email" class="input" type="text"/></div>
        <div><label>Телефон</label> <input id="phone" placeholder="Телефон" class="input" type="text"/></div>
        <div>
            <label>Описание</label>
        <textarea name="comment" id="description" placeholder="Описание неисправности"
                  cols="40" rows="8"></textarea>
        </div>
    </div>
    <div class="toolbar">
        <span>
            <button id="send" onClick='send()' style="margin-top: 60px;margin-left: 200px;" class="btn">Отправить
            </button>
        </span>
    </div>
</div>
<script>
    function send() {
        var isAccepted = confirm("Отправить запрос на сервер?");
        if (isAccepted) {
            var obj = {
                phone: $('#phone').val(),
                email: $('#email').val(),
                description: $('#description').val()
            };
            Controller.post("/rest/orders/", obj, function (e) {
                console.log(e);
                alert("Заявка оформлена");
                window.location.href = "/";
            });
        }
    }
</script>