<div style="display: flex;" xmlns="http://java.sun.com/jsf/html">

    <span id="filter" class="filter">
    <select id="category">

    </select>
    </span>
    <div id="catalog" class="catalog">

    </div>
</div>


<script defer="defer">
    Controller.get("/rest/productcategory", function (cat) {
        console.log(cat);
        for (var i in cat) {
            $('#category').append('<option value=' + cat[i].id + '>' + cat[i].name + '</option>');
        }

        Controller.get("/rest/product?category=" + cat[0].id, function (e) {
            console.log(e);
            for (var i in e) {
                e[i].image = host + "/rest/image/" + e[i].image;
            }
            drawContent(e, "productTmpl", "catalog");
        });
    });


</script>


<script id="productTmpl" type="text/x-jquery-tmpl">
	<div class="tpl">
		<div class="images">
			<img  class="front" src="${image}">
		</div>
		<h2 class="name">${name}</h2>
		<h1 class="price">${cost}</h1>
		<div class="more_info m_pos">
			{{if $item.data.description && $item.data.description != ""}}
				<p class="desc">${description}</p>
			{{/if}}
			{{if $item.data.resolution && $item.data.resolution != ""}}
				<p>Разрешение: ${resolution}</p>
			{{/if}}
		</div>
		<button class="buy pos buybtn" onclick="currPhone=this.parentNode; window.location.href = '#!buy';">Купить</button>
	</div>



</script>