<div style="display: flex;" xmlns="http://java.sun.com/jsf/html">

    <span class="filter">
        <select id="category" style="width: 180px;height: 25px;"></select>
        <div class="tool">

        </div>
        <button id="filter" class="btn">Показать</button>
    </span>

    <div id="catalog" class="catalog">

    </div>
</div>


<script defer="defer">
    var render = function (e) {
        console.log(e);
        $("#catalog").empty();
        for (var i in e) {
            e[i].image = host + "/rest/image/" + e[i].image;
            try {
                e[i].cost = e[i].cost + e[i].cost / 100 * e[i].category.markup;
            }catch (e){
                console.error(e);
            }
        }
        drawContent(e, "productTmpl", "catalog");
    }

    Controller.get("/rest/productcategory", function (cat) {
        console.log(cat);
        for (var i in cat) {
            $('#category').append('<option value=' + cat[i].id + '>' + cat[i].name + '</option>');
        }

        Controller.get("/rest/product?category=" + cat[0].id, function (e) {
            render(e);
        });
    });

    $('#filter').click(function () {
        Controller.get("/rest/product?category=" + $("#category").val(), function (e) {
            render(e);
        });
    });

</script>


<script id="productTmpl" type="text/x-jquery-tmpl">
	<div class="tpl">
		<div class="images">
			<img  class="front" src="${image}">
		</div>
		<h2 class="name">${name}</h2>
		<h1 class="price">${cost}</h1>
		<div class="more_info m_pos">
			{{if $item.data.description && $item.data.description != ""}}
				<p class="desc">${description}</p>
			{{/if}}
			{{if $item.data.resolution && $item.data.resolution != ""}}
				<p>Разрешение: ${resolution}</p>
			{{/if}}
		</div>
		<button class="buy pos buybtn" onclick="currPhone=this.parentNode; window.location.href = '#!' + 'views/buy?product=${id}'">Купить</button>
	</div>

</script>