<div id="catalog" class="catalog ipad">
</div>

<script id="phoneTmpl" type="text/x-jquery-tmpl">
	<div class="tpl">
		<div class="images">
			<img  class="front" src="${photo}">
		</div>
		<h2 class="name">${name}</h2>
		<h1 class="price">${cost}</h1>
		<div class="more_info m_pos">
			{{if $item.data.cores && $item.data.cores != 0}}
				<p>Количество ядер: ${cores}</p>
			{{/if}}
			{{if $item.data.memory && $item.data.memory != 0}}
				<p>Память: ${memory}Мб</p>
			{{/if}}
			{{if $item.data.weight && $item.data.weight != 0}}
				<p>Вес: ${weight} гр</p>
			{{/if}}
			{{if $item.data.os && $item.data.os != ""}}
				<p>ОС: ${os}</p>
			{{/if}}
			{{if $item.data.resolution && $item.data.resolution != ""}}
				<p>Разрешение: ${resolution}</p>
			{{/if}}
		</div>
		<button class="buy pos" onclick="currPhone=this.parentNode; window.location.href = '#!buy';">Купить</button>
	</div>
</script>

<script defer="defer">
	phones = [{
			cores: 2
			,cost: 15490
			,memory: 16
			,name: "Apple iPad mini 16Gb Wi-Fi"
			,os: "IOS"
			,photo: "http://static.svyaznoy.ru/upload/iblock/490dcc28730e87f496196114407d3655/big.jpg/resize/800x800/"
			,resolution: "960x640"
			,vendor: "Apple"
			,weight: 312
		},{
			cores: 2
			,cost: 28990
			,memory: 64
			,name: "Apple iPad Air 64Gb Wi-Fi"
			,os: "IOS 7"
			,photo: "http://static.svyaznoy.ru/upload/iblock/95381c9033bf19cfc3e840a9612ee3f8/0.jpg/resize/800x800/"
			,resolution: "960x640"
			,vendor: "Apple"
			,weight: 478
		},{
			cores: 2
			,cost: 19990
			,memory: 16
			,name: "Apple iPad mini Retina 16Gb Wi-Fi"
			,os: "IOS"
			,photo: "http://static.svyaznoy.ru/upload/iblock/8d7a7cbc6f15ce558f2e60db199a4285/2.jpg/resize/800x800/"
			,resolution: "960x640"
			,vendor: "Apple"
			,weight: 341
		}

	];
	drawContent(phones, "phoneTmpl", "catalog");
</script>