<div id="catalog" class="catalog">
</div>

<script id="phoneTmpl" type="text/x-jquery-tmpl">
	<div class="tpl">
		<div class="images">
			<img  class="front" src="${photo}">
		</div>
		<h2 class="name">${name}</h2>
		<h1 class="price">${cost}</h1>
		<div class="more_info m_pos">
			{{if $item.data.cores && $item.data.cores != 0}}
				<p>Количество ядер: ${cores}</p>
			{{/if}}
			{{if $item.data.memory && $item.data.memory != 0}}
				<p>Память: ${memory}Мб</p>
			{{/if}}
			{{if $item.data.weight && $item.data.weight != 0}}
				<p>Вес: ${weight} гр</p>
			{{/if}}
			{{if $item.data.os && $item.data.os != ""}}
				<p>ОС: ${os}</p>
			{{/if}}
			{{if $item.data.resolution && $item.data.resolution != ""}}
				<p>Разрешение: ${resolution}</p>
			{{/if}}
		</div>
		<button class="buy pos" onclick="currPhone=this.parentNode; window.location.href = '#!buy';">Купить</button>
	</div>
</script>

<script defer="defer">
	phones = [{
			cores: 2
			,cost: 15490
			,memory: 8
			,name: "Samsung Galaxy Grand Duos"
			,os: "Android"
			,photo: "http://static.svyaznoy.ru/upload/iblock/9b8/ru_gt-i9082mbaser_001_front_blue.jpg/resize/800x800/"
			,resolution: "960x640"
			,vendor: "Apple"
			,weight: 312
		},{
			cores: 2
			,cost: 28990
			,memory: 64
			,name: "Samsung Galaxy S4 16Gb"
			,os: "Android"
			,photo: "http://static.svyaznoy.ru/upload/iblock/184/samsung_10239162.jpg/resize/800x800/"
			,resolution: "960x640"
			,vendor: "Samsung"
			,weight: 130
		},{
			cores: 2
			,cost: 19990
			,memory: 16
			,name: "Samsung Galaxy S5 16Gb"
			,os: "Android"
			,photo: "http://static.svyaznoy.ru/upload/iblock/b7b/samsung-galaxy-s5-smartphone_2.jpg/resize/800x800/"
			,resolution: "960x640"
			,vendor: "Apple"
			,weight: 145
		}

	];
	drawContent(phones, "phoneTmpl", "catalog");
</script>