<div>
    <span><input type="button" value="+" id="add"/></span>
    <span><input type="button" value="-" id="remove"/></span>
</div>

<div id="catwindow" class="form">
    <div>Категория</div>
    <div>
        <div>
            <input type="hidden" id="id"/>
        </div>
        <div><label>Название</label> <input type="text" id="name"/></div>
        <div><label>Наценка</label> <input type="text" id="markup"/></div>
        <div class="toolbar">
            <span>
                <input type="button" value="Сохранить" id='catsave'/>
            </span>
            <span>
                <input type="button" value="Отменить" id='catcancel'/>
            </span>
        </div>
    </div>
</div>


<div id='jqxWidget' style="font-size: 13px;font-family: Verdana;margin: 0 -370px;position: relative;left: 50%;">
    <div id="jqxgrid">
    </div>
</div>
<script defer="defer">
    (function () {
        var url = host + "/rest/productcategory";

        $('#name').jqxInput({height: 25, width: 150, minLength: 1});
        $('#markup').jqxInput({height: 25, width: 150, minLength: 1});

        $("#add").jqxButton({width: '40', height: '30'});
        $("#add").on('click', function () {
            $("#catwindow").jqxWindow("open");
        })

        $("#remove").jqxButton({width: '40', height: '30'});
        $("#remove").on('click', function () {
            var row = $('#jqxgrid').jqxGrid('getrowdata', $('#jqxgrid').jqxGrid('getselectedrowindex'));
            Controller.del("/rest/productcategory/" + row.id, null, function () {
                $('#jqxgrid').jqxGrid('updatebounddata');
            });
        })

        $("#catwindow").jqxWindow({width: 370, height: 390, isModal: true, autoOpen: false});
        $("#catwindow").on('close', function () {
            $('#name').jqxInput("clear");
            $('#markup').jqxInput("clear");
            $('#id').val("");
        });
        $("#catsave").jqxButton({width: '90px', height: '30'});
        $("#catsave").on('click', function () {
            var obj = {
                name: $('#name').val(),
                markup: $('#markup').val()
            };
            var id = $('#id').val();
            if (id && id.length > 0) {
                Controller.put("/rest/productcategory/" + id, obj, function (res) {
                    $('#jqxgrid').jqxGrid('updatebounddata');
                    $("#catwindow").jqxWindow("close");
                });
            } else {
                Controller.post("/rest/productcategory", obj, function () {
                    $('#jqxgrid').jqxGrid('updatebounddata');
                    $("#catwindow").jqxWindow("close");
                });
            }
        })
        $("#catcancel").jqxButton({width: '90px', height: '30'});
        $("#catcancel").on('click', function () {
            $("#catwindow").jqxWindow("close");
        })

        var source = {
            datatype: "json",
            datafields: [
                {name: 'id', type: 'int'},
                {name: 'name', type: 'string'},
                {name: 'markup', type: 'string'}
            ],
            id: 'id',
            url: url
        };

        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) {
            },
            loadComplete: function (data) {
            },
            loadError: function (xhr, status, error) {
            }
        });
        $("#jqxgrid").jqxGrid({
            width: 740,
            height: 500,
            source: dataAdapter,
            sortable: true,
            altrows: true,
            columns: [
                {
                    text: 'Id',
                    datafield: 'id',
                    width: 50
                },
                {
                    text: 'Название',
                    datafield: 'name',
                    cellsalign: 'left',
                    align: 'left',
                    width: 200
                },
                {
                    text: 'Наценка',
                    datafield: 'markup',
                    cellsalign: 'left',
                    align: 'left',
                    width: 100
                }
            ]
        });

        $('#jqxgrid').on('rowdoubleclick', function (event) {
            $("#catwindow").jqxWindow("open");
            var row = $('#jqxgrid').jqxGrid('getrowdata', event.args.rowindex);
            Controller.get("/rest/productcategory/" + row.id, function (data) {
                $("#id").val(data.id)
                $('#name').jqxInput('val', !data.name ? "" : data.name);
                $('#markup').jqxInput('val', !data.markup ? "" : data.markup);
            });


        });
    }());
    function unload() {
        $("#catwindow").jqxWindow('destroy');
    }
</script>