<div>
    <span><input type="button" value="+" id="add"/></span>
    <span><input type="button" value="-" id="remove"/></span>
</div>

<div id="ordwindow" class="form">
    <div>Заявка на ремонт</div>
    <div>
        <div>
            <input type="hidden" id="id"/>
        </div>
        <div><label>Телефон</label> <input type="text" id="phone"/></div>
        <div><label>Email</label> <input type="text" id="email"/></div>
        <div style="border: solid;border-radius: 11px;border-width: 0.1px;border-color: #ccc; padding: 5px"><label>Описание
            неисправности</label>
            <textarea rows="5" cols="35" name="text" id="description"></textarea></div>
        <div class="toolbar">
            <span>
                <input type="button" value="Сохранить" id='ordsave'/>
            </span>
            <span>
                <input type="button" value="Отменить" id='ordcancel'/>
            </span>
        </div>
    </div>
</div>


<div id='jqxWidget' style="font-size: 13px;font-family: Verdana;margin: 0 -370px;position: relative;left: 50%;">
    <div id="jqxgrid">
    </div>
</div>
<script defer="defer">
    (function () {
        var url = host + "/rest/orders";
        $('#phone').jqxInput({height: 25, width: 150, minLength: 1});
        $('#email').jqxInput({height: 25, width: 150, minLength: 1});

        $("#add").jqxButton({width: '40', height: '30'});
        $("#add").on('click', function () {
            $("#ordwindow").jqxWindow("open");
        })

        $("#remove").jqxButton({width: '40', height: '30'});
        $("#remove").on('click', function () {
            var row = $('#jqxgrid').jqxGrid('getrowdata', $('#jqxgrid').jqxGrid('getselectedrowindex'));
            Controller.del("/rest/orders/" + row.id, null, function () {
                $('#jqxgrid').jqxGrid('updatebounddata');
            });
        })

        $("#ordwindow").jqxWindow({width: 370, height: 390, isModal: true, autoOpen: false});
        $("#ordwindow").on('close', function () {
            $('#phone').jqxInput("clear");
            $('#email').jqxInput("clear");
            $('#description').val("");
        });
        $("#ordsave").jqxButton({width: '90px', height: '30'});
        $("#ordsave").on('click', function () {
            var obj = {
                phone: $('#phone').val(),
                email: $('#email').val(),
                description: $('#description').val(),
            };
            Controller.post("/rest/orders", obj, function () {
                $('#jqxgrid').jqxGrid('updatebounddata');
                $("#ordwindow").jqxWindow("close");
            });
        })
        $("#ordcancel").jqxButton({width: '90px', height: '30'});
        $("#ordcancel").on('click', function () {
            $("#ordwindow").jqxWindow("close");
        })

        var source = {
            datatype: "json",
            datafields: [
                {name: 'id', type: 'int'},
                {name: 'phone', type: 'string'},
                {name: 'email', type: 'string'}
            ],
            id: 'id',
            url: url
        };

        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) {
            },
            loadComplete: function (data) {
            },
            loadError: function (xhr, status, error) {
            }
        });
        $("#jqxgrid").jqxGrid({
            width: 740,
            height: 500,
            source: dataAdapter,
            sortable: true,
            altrows: true,
            columns: [
                {
                    text: 'Id',
                    datafield: 'id',
                    width: 50
                },
                {
                    text: 'Телефон',
                    datafield: 'phone',
                    cellsalign: 'left',
                    align: 'left',
                    width: 200
                },
                {
                    text: 'Email',
                    datafield: 'email',
                    cellsalign: 'left',
                    align: 'left',
                    width: 200
                }
            ]
        });
        $('#jqxgrid').on('rowdoubleclick', function (event) {
            $("#ordwindow").jqxWindow("open");
            var row = $('#jqxgrid').jqxGrid('getrowdata', event.args.rowindex);
            Controller.get("/rest/orders/" + row.id, function (data) {
                $("#id").val(data.id)
                $('#phone').jqxInput('val', !data.phone ? "" : data.phone);
                $('#email').jqxInput('val', !data.email ? "" : data.email);
                $('#description').val(!data.description ? "" : data.description);
            });


        });
    }());
    function unload() {
        $("#ordwindow").jqxWindow('destroy');
    }
</script>