<div>
    <span><input type="button" value="+" id="add"/></span>
    <span><input type="button" value="-" id="remove"/></span>

    <input id="sortpicture" type="file" name="sortpic"/>
    <button id="upload">Upload</button>

</div>

<div id="window" class="form">
    <div>Продукт</div>
    <div>
        <div><label>Название</label> <input type="text" id="name"/></div>
        <div><label>Категория</label>
            <div id="category" style="width: 150px;float: right;height: 25px;margin: 0px 7% 0px 1px;"/>
        </div>
        <div><label>Количество</label> <input type="text" id="amount"/></div>
        <div><label>Стоимость</label> <input type="text" id="cost"/></div>
        <div><label>Изображение</label> <input type="text" id="image"/></div>
        <div><label>Описание</label> <input type="text" id="description"/></div>
        <div><label>Производитель</label>
            <div id="vendor" style="width: 150px;float: right;height: 25px;margin: 0px 7% 0px 1px;"/>
        </div>
        <div class="toolbar">
            <span>
                <input type="button" value="Сохранить" id='save'/>
            </span>
            <span>
                <input type="button" value="Отменить" id='cancel'/>
            </span>
        </div>
    </div>
</div>


<div id='jqxWidget' style="font-size: 13px;font-family: Verdana;margin: 0 -370px;position: relative;left: 50%;">
    <div id="jqxgrid">
    </div>
</div>
<script defer="defer">
    var url = host + "/rest/product";

    $('#upload').on('click', function () {
        var file_data = $('#sortpicture').prop('files')[0];
        var form_data = new FormData();
        form_data.append('file', file_data);
        $.ajax({
            url: host + '/rest/image/57', // point to server-side PHP script
            dataType: 'text',  // what to expect back from the PHP script, if anything
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function (php_script_response) {
            }
        });
    });

    $('#name').jqxInput({height: 25, width: 150, minLength: 1});
    $('#amount').jqxInput({height: 25, width: 150, minLength: 1});
    $('#cost').jqxInput({height: 25, width: 150, minLength: 1});
    $('#image').jqxInput({height: 25, width: 150, minLength: 1});
    $('#description').jqxInput({height: 25, width: 150, minLength: 1});

    $("#category").jqxDropDownList({
        selectedIndex: 0,
        source: new $.jqx.dataAdapter({
            datatype: "json",
            datafields: [
                {name: 'name'},
                {name: 'id'}
            ],
            url: host + "/rest/productcategory",
            async: true
        }),
        displayMember: "name",
        valueMember: "id",
        width: 150,
        height: 25
    });

    $("#vendor").jqxDropDownList({
        selectedIndex: 0,
        source: new $.jqx.dataAdapter({
            datatype: "json",
            datafields: [
                {name: 'name'},
                {name: 'id'}
            ],
            url: host + "/rest/vendor",
            async: true
        }),
        displayMember: "name",
        valueMember: "id",
        width: 150,
        height: 25
    });

    $("#add").jqxButton({width: '40', height: '30'});
    $("#add").on('click', function () {
        $("#window").jqxWindow("open");

    })

    $("#remove").jqxButton({width: '40', height: '30'});
    $("#remove").on('click', function () {
        var row = $('#jqxgrid').jqxGrid('getrowdata', $('#jqxgrid').jqxGrid('getselectedrowindex'));
        Controller.del("/rest/product/" + row.id, null, function () {
            $('#jqxgrid').jqxGrid('updatebounddata');
        });
    })

    $("#window").jqxWindow({width: 370, height: 390, isModal: true, autoOpen: false});
    $("#window").on('close', function () {
        $('#name').jqxInput("clear");
        $('#amount').jqxInput("clear");
        $('#cost').jqxInput("clear");
        $('#image').jqxInput("clear");
        $('#description').jqxInput("clear");
        $('#vendor').jqxInput("clear");
    });
    $("#save").jqxButton({width: '90px', height: '30'});
    $("#save").on('click', function () {
        var obj = {
            name: $('#name').val(),
            brand: $('#brand').val(),
            category: {id: $('#category').val()},
            amount: $('#amount').val(),
            cost: $('#cost').val(),
            image: $('#image').val(),
            description: $('#description').val(),
            vendor: {id: $('#vendor').val()}
        };
        Controller.post("/rest/product", obj, function () {
            $('#jqxgrid').jqxGrid('updatebounddata');
            $("#window").jqxWindow("close");
        });
    })
    $("#cancel").jqxButton({width: '90px', height: '30'});
    $("#cancel").on('click', function () {
        $("#window").jqxWindow("close");
    })

    var source = {
        datatype: "json",
        datafields: [
            {name: 'id', type: 'int'},
            {name: 'name', type: 'string'},
            {name: 'cost', type: 'string'},
            {name: 'brand', type: 'string'},
            {name: 'amount', type: 'string'},
            {name: 'categoryname', type: 'string', map: "category>name"}
        ],
        id: 'id',
        url: url
    };

    var dataAdapter = new $.jqx.dataAdapter(source, {
        downloadComplete: function (data, status, xhr) {
        },
        loadComplete: function (data) {
        },
        loadError: function (xhr, status, error) {
        }
    });
    $("#jqxgrid").jqxGrid({
        width: 740,
        height: 500,
        source: dataAdapter,
        sortable: true,
        altrows: true,
        columns: [
            {
                text: 'Id',
                datafield: 'id',
                width: 50
            },
            {
                text: 'Название',
                datafield: 'name',
                cellsalign: 'left',
                align: 'left',
                width: 200
            },
            {
                text: 'Цена',
                datafield: 'cost',
                align: 'right',
                cellsalign: 'right',
                width: 100
            },
            {
                text: 'Производитель', datafield: 'brand',
                cellsalign: 'left',
                align: 'left',
                width: 200
            }, {
                text: 'Количество',
                datafield: 'amount',
                align: 'right',
                cellsalign: 'right',
                width: 70
            }, {
                text: 'Категория',
                datafield: 'categoryname',
                cellsalign: 'right',
                width: 100
            }
        ]
    });
</script>