<div>
    <span><input type="button" value="+" id="add"/></span>
    <span><input type="button" value="-" id="remove"/></span>
</div>

<div id="window" class="form">
    <div>Продукт</div>
    <div>
        <div><label>Название</label> <input type="text" id="name"/></div>
        <div><label>Производитель</label> <input type="text" id="vendor"/></div>
        <div><label>Категория</label> <input type="text" id="category"/></div>
        <div><label>Количество</label> <input type="text" id="amount"/></div>
        <div><label>Стоимость</label> <input type="text" id="cost"/></div>
        <div><label>Изображение</label> <input type="text" id="image"/></div>
        <div><label>Описание</label> <input type="text" id="description"/></div>
        <div class="toolbar">
            <span>
                <input type="button" value="Сохранить" id='save'/>
            </span>
            <span>
                <input type="button" value="Отменить" id='cancel'/>
            </span>
        </div>
    </div>
</div>


<div id='jqxWidget' style="font-size: 13px;font-family: Verdana;margin: 0 -370px;position: relative;left: 50%;">
    <div id="jqxgrid">
    </div>
</div>
<script defer="defer">
    var url = host + "/rest/product";

    $("#add").jqxButton({width: '40', height: '30'});
    $("#add").on('click', function () {
        $("#window").jqxWindow("open");
    })

    $("#remove").jqxButton({width: '40', height: '30'});
    $("#remove").on('click', function () {
        alert("bbbbbb");
    })

    $("#window").jqxWindow({width: 350, height: 390, isModal: true, autoOpen: false});
    $("#save").jqxButton({width: '90px', height: '30'});
    $("#save").on('click', function () {
        var obj = {
            name: $('#name').val(),
            brand: $('#brand').val(),
            category: $('#category').val(),
            amount: $('#amount').val(),
            cost: $('#cost').val(),
            image: $('#image').val(),
            description: $('#description').val(),
            vendor: $('#vendor').val()
        };
        console.log(obj);
        post("/rest/product")
    })
    $("#cancel").jqxButton({width: '90px', height: '30'});
    $("#cancel").on('click', function () {
        $("#window").jqxWindow("close");
    })

    var source = {
        datatype: "json",
        datafields: [
            {name: 'id', type: 'int'},
            {name: 'name', type: 'string'},
            {name: 'cost', type: 'string'},
            {name: 'brand', type: 'string'},
            {name: 'amount', type: 'string'},
            {name: 'categoryname', type: 'string', map: "category>name"}
        ],
        id: 'id',
        url: url
    };

    var dataAdapter = new $.jqx.dataAdapter(source, {
        downloadComplete: function (data, status, xhr) {
        },
        loadComplete: function (data) {
        },
        loadError: function (xhr, status, error) {
        }
    });
    $("#jqxgrid").jqxGrid({
        width: 740,
        height: 500,
        source: dataAdapter,
        sortable: true,
        altrows: true,
        columns: [
            {
                text: 'Id',
                datafield: 'id',
                width: 50
            },
            {
                text: 'Название',
                datafield: 'name',
                cellsalign: 'left',
                align: 'left',
                width: 200
            },
            {
                text: 'Цена',
                datafield: 'cost',
                align: 'right',
                cellsalign: 'right',
                width: 100
            },
            {
                text: 'Производитель', datafield: 'brand',
                cellsalign: 'left',
                align: 'left',
                width: 200
            }, {
                text: 'Количество',
                datafield: 'amount',
                align: 'right',
                cellsalign: 'right',
                width: 70
            }, {
                text: 'Категория',
                datafield: 'categoryname',
                cellsalign: 'right',
                width: 100
            }
        ]
    });
</script>