<div class="report">
    <div>
        <ul class="tab">
            <li><a class="tablinks" onclick="openCity(event, 'sales')">Количество продаж по товарам</a></li>
            <li><a class="tablinks" onclick="openCity(event, 'sellers')">Активность клиентов</a></li>
        </ul>
    </div>
    <div id="sales" class="tabcontent">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
    </div>
    <div id="sellers" class="tabcontent">
        <h3>sellers</h3>
        <p>London is the capital city of England.</p>
    </div>
</div>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>